* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 40px auto 0;
    background-color: lightskyblue;
}

.random,
.summary {
    margin: 30px 0;
    text-align: center;
}

.start,
.restart {
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #fb98fb;
}

.hide {
    display: none;
}